<!DOCTYPE HTML>
<html ng-app="app" ng-controller="Controller">

<head>
    <link href="css/flashBriefing.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="js/angular-1.5.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <title>Flash Briefing</title>
</head>

<body id="body">
    <div id="container">
        <h1>Flash Briefing</h1>
        <div id="list">
            <label><input type="checkbox" ng-model="settings.weatherCheckbox" ng-change="load()">Weather</label><br>
            <label><input type="checkbox" ng-model="settings.nflCheckbox" ng-change="load()">NFL</label><br>
            <p ng-repeat="phrase in phrases track by $index" ng-class="{nowPlaying: $index==nowPlayingIndex}">
                {{phrase.text}}
            </p>
            <p id="messageId"></p>
        </div>
    </div>
</body>

</html>
